
.mod_2{
    padding-top: 10px;
}
#slider1_container{
    position: relative;  
    width: 985px; 
    height: 350px; 
    background: #0066b3; 
    overflow: hidden; 
    box-shadow: 1px 2px 6px -2px #D0D0D0;
    -webkit-box-shadow:1px 2px 6px -2px #D0D0D0 ;
    -moz-box-shadow:1px 2px 6px -2px #D0D0D0; 
    margin: 0 auto;
                }

                #slides_container{
                    position: absolute; 
                    left: 0px; top: 0px;
                     width: 720px; height: 400px;
                    overflow: hidden;}

                .p{position: absolute; 
                    width: 270px; 
                    height: 79px; 
                    top: 0; left: 0; 
                    margin-bottom: -4;
                    top: -35.5px;

                }

                .thumbnailtemplate
                 {  
                    width: 100%; 
                    height: 100%;
                    position:absolute; 
                    top: 0; 
                    left: 0;}



               .jssort11
                {
                    background: #0066b3;
                    font-family: 'Eurostile';
                    float: right; 
                    position: relative; 
                    width: 270px; 
                    height: 325px; 
                    right: 5px; 
                    top: -42px; 
                    overflow: visible;
                    vertical-align: baseline;

                }

                .jssort11:hover
                {
                }

                /*POSICION DEL LA COLUMNA DE LOS THUMBS*/
                .thumbs_position{
                     top:0px !important;
                     overflow: visible;
                     height: 350px !important;


                }

                .thumbs_position:hover{
                    background: #3399cc;
                }

                /*IMAGEN THUMB*/
                .jssort11 .i, .jssort11 .pav:hover .i 
                {
                    position: absolute;
                    left:15px;
                    top:16px;
                    WIDTH: 50px;
                }
                * html .jssort11 .i
                {
                    WIDTH /**/: 50px;
                    HEIGHT /**/: 50px;
                }
             

                 .jssort11 .p:hover img {
                   /* border: 2px #fff solid; */
                 }



                .jssort11 .pav .i
                {
                }

                /*COLOR LETRA NORMAL (titlo del thumb*/
                .jssort11 .t, .jssort11 .pav:hover .t
                {
                    position: absolute;
                    top: 60px;
                    left: 20px;
                    width:200px;
                    height: 77px;
                    line-height:25px;
                    text-align: left;
                    color:#FFF;
                    vertical-align: baseline;
                    font-size:1.3em;
                    font-weight:700;
                    overflow: visible;
                }
                /* EXTRACTO*/
                 .jssort11 .c, .jssort11 .pav:hover .c
                {
                    position: absolute;
                    top: 127px;
                    left: 20px;
                    width:234px;
                    height: 102px;
                    line-height:17px;
                    text-align: left;
                    color:#FFF;
                    vertical-align: baseline;
                    font-size:0.8em;
                    font-weight:300;
                    overflow: hidden;
                }

                .readmore{
                    position: absolute;
                    top: 275px;
                    left: 180px;
                    width:169px;
                    height: 77px;
                    line-height:17px;
                    text-align: left;
                    vertical-align: baseline;
                    font-size:0.8em;
                    font-weight:300;
                    overflow: visible;
                }
                .readmore a {
                    color: #FFF;
                    text-decoration: none;
                   
                }
                .readmore a:hover{
                    text-decoration: underline;
                }



                


                
                .jssort11 .pav .t, .jssort11 .phv .t, .jssort11 .p:hover .t
                {
                    color:#fff;

                }
               
                
                

               /* .jssort11 .c, .jssort11 .pav:hover .c
                {
                    position: absolute;
                    top: 22px;
                    left: 3px;
                    width:169px;
                    height: 31px;
                    line-height:15px;
                    color:#BE2403;
                    font-size:0.9em;
                    font-weight:700;
                    overflow: visible;
               

                .jssort11 .pav .c, .jssort11 .phv .c, .jssort11 .p:hover .c
                {
                    color:#F6482C;

                } */
             
                .jssort11 .p
                { /*COLOR DE LINK NORMAL */
                    background:  #0066b3;
                    height: 77px;
                    
                    margin-top: 1;



                }

                .jssort11 .pav, .jssort11 .pdn /* ACTIVO */
                {
                    height: 77px;
                    transition: background 0.2s ease;
                    background: #0066b3;


                }

                .jssort11 .pav img {
                    border: 2px #fff solid;
                 }

               .jssort11 .pav:hover .t{
                    color: #fff;
                }
                .jssort11 .p:hover, .jssort11 .phv, .jssort11 .pav:hover /*link activo hover*/
                
                {

                    color: #fff;
                    background: #00a9eb;
                    height: 79px;
                    border-bottom: 15px solid #00a9eb;


                }


.caption_slider{
background:rgba(0,0,0,0.4);
bottom: 0px;
display: table;
height: 55px !important;
left: 0px;
position: absolute;
padding: 20px 12px 8px 30px;
z-index: 4;
width: 97%;
}

.caption_slider h1{
    color: #fff;
font-size: 1.7em;
font-weight: 700;
padding-top: 9.5px;   
}


.caption_slider a{
    color: #FFF;
    text-decoration: none;
      

}

.caption_slider a:hover{
    color: #FFF;
    text-decoration: underline;
      

}
    /* jssor slider thumbnail navigator skin 11 css */
                /*
                .jssort11 .p            (normal)
                .jssort11 .p:hover      (normal mouseover)
                .jssort11 .pav          (active)
                .jssort11 .pav:hover    (active mouseover)
                .jssort11 .pdn          (mousedown)
                */

